.buttonDark {
  width: 2.2rem;
  border: 1px solid;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

.buttonDark:hover {
  background-color: var(--mantine-color-darkmode-3);
}

.buttonDark:focus {
  outline: none;
}

.buttonLight {
  width: 2.2rem;
  border: 1px solid;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

.buttonLight:hover {
  background-color: white;
}

.buttonLight:focus {
  outline: none;
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
