.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
  position: relative;
  margin-bottom: 2rem;
  gap: 2rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.languageButtonDark {
  overflow: hidden;
  border-radius: 500px;
  cursor: pointer;
  border: 1px solid;
  display: flex;
}

.languageButtonLight {
  overflow: hidden;
  border-radius: 500px;
  cursor: pointer;
  border: 1px solid;
  display: flex;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

.languageButtonLight:hover {
  background: white;
}

.languageButtonDropdown {
  border: none;
}

.languageButtonDropdownLight {
  border: none;
}

.languageButtonDropdownLight:hover {
  background: var(--mantine-color-primary-3);
}

.countryImage {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: var(--mantine-color-darkmode-2);
}

#dropdownLight {
  background-color: white;
}

.chevron {
  transition: all 0.15s ease;
}


.searchbarContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  min-height: fit-content;
  align-items: center;
}
