.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  position: relative;
  margin-bottom: 2rem;
  gap: 2rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.languageButtonDark {
  overflow: hidden;
  border-radius: 500px;
  cursor: pointer;
  border: 1px solid;
  display: flex;
}

.languageButtonLight {
  overflow: hidden;
  border-radius: 500px;
  cursor: pointer;
  border: 1px solid;
  display: flex;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

.countryImage {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
}

.chevron {
  transition: all 0.3s ease;
}

.logoSearchBarContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.searchbarContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  min-height: fit-content;
  align-items: center;
}

.logoContainer {
  display: none;

  div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 780px) {
  .buttonContainer {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin-bottom: 1rem;
  }

  .logoContainer {
    display: flex;
    gap: 1rem;
  }
}
