.wrapper {
  width: 100%;
  max-width: 40rem;
}

.root {
  width: 100%;
}

.input {
  box-shadow: 0 2px 10px -5px rgba(43, 43, 43, 0.265);
  &::placeholder {
    color: #a2abb5;
  }
}

.icon {
  color: #a2abb5;
}

.darkDropdown {
  background-color: var(--mantine-color-darkmode-2);
  color: #fff;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.684);
  padding: 0;
  z-index: 10000 !important;
}

.lightDropdown {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.684);
  padding: 0;
  z-index: 10000 !important;
}

.option {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 0;
  text-align: left;

  &[data-combobox-selected] {
    background-color: var(--mantine-color-darkmode-4);
  }

  &[data-combobox-selected]:hover {
    background-color: var(--mantine-color-darkmode-5) !important;
  }
}

#optionLight {
  &[data-combobox-selected] {
    background-color: var(--mantine-color-gray-3) !important;
  }
}

#optionLight:hover {
  background-color: var(--mantine-color-gray-3) !important;
}

#optionDark:hover {
  background-color: var(--mantine-color-darkmode-3);
}

.visibleClose {
  cursor: pointer;
  z-index: 100;
}

.visibleClose:hover {
  background-color: transparent;
}

.hiddenClose {
  display: none;
}

.imageContainer {
  width: fit-content;
  height: fit-content;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 0;
  border-radius: 2px;
}

.iconTrophy {
  position: relative;
  top: -0.1rem;
}

.groupLabel {
  color: var(--mantine-color-darkmode-7);
}

.groupLabel::after {
  background-color: var(--mantine-color-darkmode-4);
}

.groupLabelLight {
  color: var(--mantine-color-gray-7);
}

.groupLabelLight::after {
  background-color: var(--mantine-color-gray-4);
}

.noOptionText {
  margin: 0;
  padding: 0;
  color: var(--mantine-color-darkmode-7);
  font-size: 0.9rem;
}

.noOptionTextBottom {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
  color: var(--mantine-color-darkmode-7);
  font-size: 0.9rem;
}

@media screen and (max-width: 480px) {
  .input {
    &::placeholder {
      font-size: 0.8rem;
    }
  }
}
