.button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
    position: relative;
    left: -5px;
}

.button:hover {
    transform: scale(1.1);
}

.darkIcon {
    color: #ffffff;
}

.lightIcon {
    color: var(--mantine-color-darkmode-1);
}