.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  padding: 1rem;
  padding-top: 1.2rem;
  width: 15rem;
  max-width: 15rem;
  gap: 1.5rem;
  height: 13rem;
  max-height: 13rem;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.684);
}

.headerContainer {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.nationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  position: relative;
}

.nationTitle {
  position: absolute;
  bottom: -2.2rem;
  height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 6rem;
}



.scoreContainer {
  display: flex;
  gap: 0.5rem;
}

#darkCard:hover {
  background-color: var(--mantine-color-darkmode-2) !important;
  border-color: var(--mantine-color-darkmode-8);
}

#lightCard:hover {
  background-color: rgba(255, 255, 255, 0.801) !important;
  border-color: var(--mantine-color-primary-4) !important;
  box-shadow: 0 0 10px -5px rgb(0, 0, 0) !important;
}

.dateTournamentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
}

.tournamentName {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.2rem;
  position: relative;
}

.darkText {
  color: var(--mantine-color-darkmode-8);
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.lightText {
  color: var(--mantine-color-dark-4);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nationCardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.nationCardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}


