.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
  position: relative;
  margin-bottom: 1rem;
  gap: 30%;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.languageButton {
  overflow: hidden;
  border-radius: 500px;
  cursor: pointer;
  border: 1px solid;
  display: flex;
}

.languageButtonDropdown {
  border: none;
}

.countryImage {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: var(--mantine-color-darkmode-2);
}
