#root {
  /* max-width: 1500px; */
  margin: 0 auto;
  text-align: center;

}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-darkmode-4);
  border-radius: 10px;
}

/* For light mode */
:root[data-mantine-color-scheme='light'] {
  --mantine-color-body: white !important;
  --mantine-color-text: black !important;
  transition:
    background-color 0.2s ease,
    color 0.2s ease; /* Add transition */
    box-shadow: 0.2s ease;

  a {
    color: black;
  }

  * {
    border-color: var(--mantine-color-dark-1) !important;
    color: var(--mantine-color-darkmode-1);
  }
}

/* For dark mode */
:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: rgb(29, 36, 48) !important;
  --mantine-color-text: white !important;
  transition:
    background-color 0.2s ease,
    color 0.2s ease; /* Add transition */
    box-shadow: 0.2s ease;

  a {
    color: white;
  }

  * {
    border-color: var(--mantine-color-darkmode-3);
  }
}

/* Apply the transition to the body or any other element */
body {
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  transition:
    background-color 0.2s ease,
    color 0.2s ease; /* Add transition */
  overflow-x: hidden;
  overscroll-behavior: none;

  a {
    text-decoration: none;
  }

  /* Stop the scrollbar from pushing elements */
  overflow-y: scroll; /* Always show the scrollbar */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /
}

* {
  transition:
    background-color 0.2s ease,
    border 0.2s ease;
}

.layoutContainer {
  display: flex;
  width: 100%;
}

#rightContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  transition: padding 0.3s ease-in-out;
}

.rightContainerCollapsed {
  padding-left: 5rem;
}

.rightContainerExpanded {
  padding-left: 16rem;
}

.rightInnerContainer {
  width: 100%;
  max-width: 1200px;
  padding: 0 4rem;
}

h1 {
  font-size: 3.5rem;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}

.flagImageContainer {
  width: calc(4rem * 0.8);
  height: calc(3rem * 0.8);
  border-radius: 5px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 0;
}

#flagImage {
  padding: 0;
  position: absolute;
  width: 102%;
  height: 104%;
}


/* Global CSS class to set the cursor style */
.cursor-ns-resize * {
  cursor: ns-resize !important;
}

@media screen and (max-width: 768px) {
  
  #root{
    --card-width: 1.5rem;
  }
  .flagImageContainer {
    width: calc(2.8rem * 0.8);
    height: calc(1.8rem * 0.8);
  }
  
}

@media screen and (max-width: 556px) {
  .rightContainerCollapsed {
    padding-left: 0;
  }

  .rightContainerExpanded {
    padding-left: 0;
  }
  #root{
    --card-width: 1rem;
  }
.flagImageContainer {
  width: calc(2.8rem * 0.8);
  height: calc(1.8rem * 0.8);
  
}
}
@media screen and (max-width: 391px) {
  .rightContainerCollapsed {
    padding-left: 0;
  }

  .rightContainerExpanded {
    padding-left: 0;
  }
  #root{
    --card-width: 1rem;
  }
.flagImageContainer {
  width: calc(2rem * 0.8);
  height: calc(1rem * 0.8);
  
}
}
