.topContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  color: rgb(0, 0, 0);
  z-index: 21;
  transition: transform 0.2s ease;
  transform: scale(1.2);
}

.control:hover {
  transform: scale(1.3);
}

.controls {
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
}

.container {
  overflow: visible;
}

.slide {
  overflow: visible;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.seeMoreButtonDark {
  background-color: var(--mantine-color-darkmode-1);
  border-color: var(--mantine-color-darkmode-4) !important;

  &:hover {
    background-color: var(--mantine-color-darkmode-2);
    border-color: var(--mantine-color-darkmode-6) !important;
  }
}

.seeMoreButtonLight {
  background-color: white;
  border-color: var(--mantine-color-darkmode-2);
}

.noDataText {
  align-self: center;
  color: var(--mantine-color-darkmode-8);
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.2rem;
  }

  .seeMoreButton {
    font-size: 0.8rem;
  }
}
