.container {
    width: 100%;
}

.topContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
}