.contentContainer {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  p {
    color: white !important;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  h3 {
    padding: 0;
    margin: 0;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 3rem 0 0.5rem 0;
}
