.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  gap: 0.2rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.nameTimeContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
}

.editButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: var(--mantine-color-darkmode-2);
  border: 1px solid var(--mantine-color-darkmode-4) !important;
}

.editButton:hover {
  background-color: var(--mantine-color-darkmode-3);
  border: 1px solid var(--mantine-color-darkmode-5) !important;
}

.showMore {
  cursor: pointer;
  width: fit-content;
}

.showMoreLight {
  color: #6982ad;
  font-weight: 600;
}

.showMoreDark {
  color: #6982ad;
    font-weight: 600;
}

.showMoreLight:hover {
  color: #007bff;
  text-decoration: underline;
  
}

.showMoreDark:hover {
  color: #b3b3b3;
  text-decoration: underline;
}
