.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

.title {
    margin: 0;
    font-size: 3rem;
}

.detailContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.bottomContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2rem;
    height: fit-content;
}

.detailText {
    position: relative;
    top: 2px;
}

.detailButton {
    border: none;
    display: flex;    
}

.icon {
    margin-right: 0.4rem;
}