.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1rem;
  overflow: hidden;
}

.detailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.bottomContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2rem;
  height: fit-content;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 0.5rem 0;
}

.tournamentText {
  position: relative;
  top: 2px;
  white-space: nowrap;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  font-weight: 600;
}

.detailText {
  position: relative;
  top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tournamentButton {
  border: none;
  display: flex;
}

.tournamentButton:hover {
  cursor: pointer;
}

.icon {
  margin-right: 0.4rem;
}

@media screen and (max-width: 780px) {
    .detailText {
      max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
  .bottomContainer {
    gap: 1rem;
    padding-left: 1rem;
  }

  .detailText {
    max-width: 100%;
    font-size: 0.8rem;
  }

  .tournamentText {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .detailText {
    max-width: 75%;
    font-size: 0.8rem;
  }
}
