.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
}

.header {
  margin-bottom: 1rem;
}

.close:hover {
  background: transparent;
}


.filterButtonDark:hover {
  background-color: var(--mantine-color-darkmode-2);
}

.filterButtonLight {
  color: var(--mantine-color-darkmode-1);
}

.filterButtonLight:hover {
  background-color: transparent;
  color: var(--mantine-color-darkmode-1);
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.resetApplyButton {
  background: var(--mantine-color-primary-9);

  &:hover {
    background: var(--mantine-color-primary-8);
  }
}

#resetButton {
  background: transparent;

  &:hover {
    background: var(--mantine-color-darkmode-2);
  }
}