.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.filterButtonDark:hover {
  background-color: var(--mantine-color-darkmode-2);
}

.filterButtonLight {
  color: var(--mantine-color-darkmode-1);
}

.filterButtonLight:hover {
  background-color: transparent;
  color: var(--mantine-color-darkmode-1);
}

.dropdown {
  background-color: var(--mantine-color-darkmode-2);
  padding: 1rem;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.896);
  width: 50% !important;
  max-width: 50rem;
  min-width: 20rem;
  border: 1px solid;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}