.input {
  background: transparent;
  border: 1px solid var(--mantine-color-darkmode-6) !important;
}

.tournamentFilter {
  cursor: pointer !important;
}

.field {
  &::placeholder {
    color: #a2abb5;
  }
}

.tournamentField {
  cursor: pointer !important;
  &::placeholder {
    color: #a2abb5;
  }
}

.description {
  color: #ffffff;
  font-size: 0.9rem;
}

.searchIcon {
  color: #a2abb5;
}

.visibleClose {
  color: #a2abb5;
}

.visibleClose:hover {
  color: #a2abb5;
  background-color: transparent;
}

.hiddenClose {
  color: transparent !important;
  cursor: default;

  * {
    color: transparent;
  }
}

.hiddenClose:hover {
  color: transparent;
  background-color: transparent;
}

.darkDropdown {
  background: var(--mantine-color-darkmode-1);
  border: 1px solid var(--mantine-color-darkmode-4) !important;
  width: 100%;
  padding: 0;
}

.lightDropdown {
  background: white;
  border: 1px solid var(--mantine-color-darkmode-4) !important;
  width: 100%;
  padding: 0;
}

.optionDark {
  display: flex;
  gap: 10px;
  border-radius: 0;
  align-items: center;

  &[data-combobox-selected] {
    background-color: var(--mantine-color-darkmode-3) !important;
  }
}

.optionLight {
  display: flex;
  gap: 10px;
  border-radius: 0;
  align-items: center;

  &[data-combobox-selected] {
    background-color: var(--mantine-color-gray-3) !important;
  }
}

.optionSelectedDark {
  display: flex;
  gap: 10px;
  border-radius: 0;
  background: var(--mantine-color-darkmode-3);
  align-items: center;

  &[data-combobox-selected] {
    background-color: var(--mantine-color-darkmode-3) !important;
  }
}

.optionSelectedLight {
  display: flex;
  gap: 10px;
  border-radius: 0;
  background: var(--mantine-color-gray-2);
  align-items: center;

  &[data-combobox-selected] {
    background-color: var(--mantine-color-gray-3) !important;
  }
}

.optionSelected:hover {
  background: var(--mantine-color-darkmode-3);
}

.optionDark:hover {
  background: var(--mantine-color-darkmode-3);
}

.imageContainer {
  border-radius: 5px;
  overflow: hidden;
}

.pillDark {
  background: var(--mantine-color-darkmode-2);
  color: white;
  border: 1px solid rgba(182, 191, 197, 0.336) !important;
  cursor: pointer;
}

.pillLight {
  background: white;
  border: 1px solid rgba(182, 191, 197, 0.336) !important;
  cursor: pointer;
}

.pillText {
  padding: 0;
  margin: 0;
  position: relative;
  top: -1px;
}
