#root {
  /* max-width: 1500px; */
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* For light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: white !important;
  --mantine-color-text: black !important;
  transition: background-color 0.2s ease, color 0.2s ease; /* Add transition */
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: rgb(29, 36, 48) !important;
  --mantine-color-text: white !important;
  transition: background-color 0.2s ease, color 0.2s ease; /* Add transition */
}

/* Apply the transition to the body or any other element */
body {
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  transition: background-color 0.2s ease, color 0.2s ease; /* Add transition */
}

* {
  transition: background-color 0.2s ease, border 0.2s ease; 
}
