.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    align-items: start;
    position: relative;
    margin-top: 1.5rem;
    gap: 0.5rem;
    padding: 0 2rem;
}

.container a {
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    font-weight: 500;
    white-space: nowrap;
}

.container a:hover {
    background-color: rgb(48, 69, 90);
}