.container {
  width: 100%;
  justify-content: center;
}

.topContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  padding: 0.5rem;
}

.gridsCell{
  display:flex;
  justify-content: center;
  width:100%;
}

.sortButton {
  border: none;
  cursor: pointer;
  padding-right: 0.5rem;
}

.sortButton:hover {
  background: transparent;
}

.sortButtonText {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.chevron {
  transition: transform 0.3s ease;
}

.dropdown {
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-darkmode-2);
  padding: 0;
  overflow: hidden;
}

#dropdownLight {
  background-color: white;
}

.dropDownOptionDark {
  border: none;
}

.dropDownOptionDark:hover {
  background: var(--mantine-color-darkmode-1);
  color: white;
}

.dropDownOptionLight {
  border: none;
  color: var(--mantine-color-darkmode-2);
}

.dropDownOptionLight:hover {
  background: var(--mantine-color-gray-2);
  color: var(--mantine-color-darkmode-2);
}


.sortOrderButtonDark {
    width: 2.2rem;
    border: 1px solid;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
    background-color: var(--mantine-color-darkmode-2);
    background: transparent;
    border: none;
}

.sortOrderButtonDark:hover {
    background-color: var(--mantine-color-darkmode-3);
}

.sortOrderButtonDark:focus {
    outline: none;
}

.sortOrderButtonLight {
    width: 2.2rem;
    border: 1px solid;
    background-color: transparent;
    color: var(--mantine-color-darkmode-2);
    border: none;
}

.sortOrderButtonLight:hover {
    background-color: transparent;
    color: var(--mantine-color-darkmode-2);
}

.sortOrderButtonLight:focus {
    outline: none;
}

.orderIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
  .topContainer {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .matchFoundText {
    font-size: 1rem;
  }
}
  

