.container {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 2rem 0;
}

.controlDark {
  background-color: transparent;
  border: none;

  &[data-active] {
    background-color: var(--mantine-color-darkmode-4);
    color: white;
  }
}

.controlDark:hover {
  background-color: var(--mantine-color-darkmode-4);
}

.controlLight {
  border: none;
  &[data-active] {
    background-color: var(--mantine-color-darkmode-4);
    color: white;
  }

  &:hover {
    background-color: var(--mantine-color-darkmode-9);
  }
}

@media (max-width: 480px) {
  .controlDark {
    width: 0;

    &:hover {
      background-color: transparent;
    }
  }

  .controlLight {
    width: 0;

    &:hover {
      background-color: transparent;
    }
  }

  .root {
    white-space: nowrap;
  }
}
