.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0rem;
  height: 100vh;
  border-right: 1px solid;
  position: fixed;
  transition: width 0.3s ease;
  z-index: 1000;
  box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.116); /* Apply shadow to the right */
  overflow: hidden;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding: 0 1.7rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.outerLogoContainer {
  display: none;
}

#containerExpanded {
  width: 16rem;
}

#containerCollapsed {
  width: 5rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  gap: 0.5rem;
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--mantine-color-darkmode-3);
  overflow: hidden;
}

.linkContainer {
  position: relative;
  width: 100%;
}

.link {
  text-decoration: none;
  text-align: left;
  padding: 0.8rem 0rem 0.8rem 1.7rem;
  font-weight: 500;
  white-space: nowrap;
  transition:
    background-color 0.15s ease,
    width 0.3s ease;
}

.linkDark {
  text-decoration: none;
  text-align: left;
  padding: 0.8rem 0rem 0.8rem 1.7rem;
  font-weight: 500;
  white-space: nowrap;
  transition:
    background-color 0.15s ease,
    width 0.3s ease;
}

.linkDark:hover {
  background-color: var(--mantine-color-darkmode-3);
}

.link:hover {
  background-color: #d4dbde;
}

#linkSelected {
  text-decoration: none;
  width: 100%;
  text-align: left;
  padding: 0.8rem 0rem 0.8rem 1.7rem;
  border-radius: 0px;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.15s ease;
}

.linkSelectedDark {
  color: white !important;
  background-color: var(--mantine-color-darkmode-4);
}

.linkSelectedDark:hover {
  background-color: var(--mantine-color-darkmode-4);
}

.linkSelected {
  background-color: #d4dbde;
}

.linkSelected:hover {
  background-color: #d4dbde;
}

#linkSelected::before {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  width: 0.3rem;
  background-color: var(--mantine-color-primary-7);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.linkLabel {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.linkLabelCollapsed {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.linkLabelBody {
  text-overflow: clip;
}

.subTitleContainer {
  padding: 0 2rem;
  text-align: left;
}

.logoTextContainer {
  display: flex;
}

.hiddenLogoTextContainer {
  display: flex;
}

#logoText {
  transition: width 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .container {
    box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.116); /* Apply shadow to the right */
  }
}

@media screen and (max-width: 468px) {
  #containerCollapsed {
    width: 0rem;
  }
}
