.carouselSection {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 4rem 0 2rem 0;
}

.loadButton {
    margin-bottom: 3rem;
    border: none;
    background-color: var(--mantine-color-primary-9);

    &[data-disabled] {
        background-color: var(--mantine-color-primary-9);
        cursor: not-allowed;
        opacity: 0.5;
        color: var(--mantine-color-darkmode-0);
    }
}

.loadButton:hover {
    background-color: var(--mantine-color-primary-8);
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: fit-content;
}

.titleContainer > h1 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.iconTrophy {
    position: relative;
    bottom: 2px;
}